#page-room {
  header {
    border-bottom: 1px solid var(--gray-150);
    padding: 1.5em;

    .content {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      justify-content: space-between;
      max-width: 1128px;
      margin: 0 auto;

      > img {
        max-height: 2.8125em;
      }

      > div {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        button {
          height: 2.5em;
        }
      }
    }
  }

  main {
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 1.5em;

    .room-title {
      align-items: center;
      display: flex;
      margin: 0 0 1.5em 0;

      h1 {
        font-family: var(--title-font);
        font-size: 1.5em;
        color: var(--gray-800);
      }

      span {
        color: var(--light-color);
        background: var(--secondary-color);
        border-radius: 9999px;
        flex-shrink: 0;
        font-size: .875em;
        font-weight: 500;
        margin-left: 1em;
        padding: .5em 1em;
      }
    }

    form {
      textarea {
        background: var(--gray-100);
        border: 0;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, .04);
        min-height: 8.125em;
        padding: 1em;
        resize: vertical;
        width: 100%;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
          }

          > span {
            margin-left: 8px;
            color: var(--gray-800);
            font-weight: 500;
            font-size: .875em;
          }
        }

        span {
          font-size: .875em;
          color: var(--gray-300);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--primary-color);
            text-decoration: underline;
            font-size: .875em;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2em;
    }
  }
}